.outBreed{
    border: 2px solid #000000;
    background:#EADDCD;
    padding:0px;
    margin:0px;
    width: 1336px;
    position: relative;
    left:28%;
}

.cardsPosition{
    padding:20px;
    margin:20px;
}