.outBreed{
    background:#EADDCD;
    padding:0px;
    margin:0px;
    width: 1499px;
    position: relative;
    left:21%;
    height: 1600px;
}

.cardsPosition{
    padding:15px;
    margin:15px;
}

.notBreedFound{
    border: 2px solid rgba(0, 0, 0, 0.233);
    height: 1270px;
    font-size: 100px;
    display:flex;
    justify-content: center;
    color: #593e355d;
}