/* DIV TOTAL BUSQUEDA Y FILTROS*/

.homeFilters{
    background:#EADDCD;
    padding:0px;
    margin:0px;
    color: #593E35
}
/* DIV BUSQUEDA, INPUT Y BOTON BUSQUEDA*/
.searchB{
    height: 100%;
}
/* DIV BUSQUEDA */
.searchInput{
    width: 90%;
    height: 30px;
    padding: 2px;
    border: 1px solid #593E35;
    border-radius: 5px; 
}

/* INPUT BUSQUEDA */
.searchInput[type="text"]{
    font-size:24px;
    background-color: #FFFCF7;
    color: #593E35
}

/* BOTON BUSQUEDA */

.searchButton{
    font-size:22px;
    padding: 10px 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #593E35
}
/*--------------------------*/


/* DIV DE ORDENAMIENTOS CON SORT BY */
.sortByDiv{
    position: absolute;
    width: 400px;
    height: 800px;
    top: 45%
}

.sortBy{
    font-size:22px;
    position:relative;
    left:7%;
    bottom:20%
}

/* DIV DE ORDENAMIENTOS */
.sortByInsideDiv{
    width: 400px;
    height: 800px;
}

/* SORT SELECT */
.sortSelect{
    color: #593E35;
    position: relative;
    bottom:20%;
    left:5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    padding: 10px 4px;
    background-color: #FFFCF7;
    font-weight: 600;
    font-size:16px;
    text-align-last: center;
    letter-spacing:2px;
    cursor:pointer;
    border: 6px #FFFCF7;
    border-radius:5px;
    box-shadow:0 0 20px rgba(20,20,30,0.25)
}

.sortSelect::-ms-expand{
    display:none;
}

/* .sortSelect:hover{
    border:3px solid #000000;
} */

/* ORDER SELECT */

.orderSelect{
    color: #593E35;
    position:relative;
    bottom: 12%;
    right: 33%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    padding: 10px 4px;
    background-color: #FFFCF7;
    font-weight: 600;
    font-size:16px;
    text-align-last: center;
    letter-spacing:2px;
    cursor:pointer;
    border: 6px #FFFCF7;
    border-radius:5px;
    box-shadow:0 0 20px rgba(20,20,30,0.25);
}

.orderSelect::-ms-expand{
    display:none;
}

/* .orderSelect:hover{
    border:3px solid #000000;
} */

/* TEMPERAMENT SELECT */

.tempSelect{
    color: #593E35;
    position:relative;
    bottom: 9%;
    left: 4.5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    padding: 10px 4px;
    background-color: #FFFCF7;
    font-weight: 600;
    font-size:16px;
    text-align-last: center;
    letter-spacing:2px;
    cursor:pointer;
    border: 6px #FFFCF7;
    border-radius:5px;
    box-shadow:0 0 20px rgba(20,20,30,0.25)
}

.tempSelect::-ms-expand{
    display:none;
}

/* .tempSelect:hover{
    border:3px solid #000000;
} */

.selectOption{
    background-color: #FFFCF7;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 16px;
}

/* INFORMATION BOX*/

.filtersInfo{
    border: 2px solid #593E35;
    font-size: 18px;
    border-radius: 10px;
    width: 325px;
    height: 155px;
    position: relative;
    left:5%;
    bottom: 20.8%;
    background-color: #FFFCF7;
    color: #593E35;
    line-height: 30px;
    padding: 20px;
    text-align: justify;
}
